p{
    color:darkorange !important;
}
table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
  }
 tbody tr:hover {
    background-color: #ddd !important;
 }

 button:hover {
    background-color:#3d8b40 !important;
 }