.container {
    background-color: black;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}
.container > div {
    background-color: aliceblue;
    padding: 20px;
    width: 360px;
    margin: 10px;
}
.flex1 {
    height: 100px;
}