body {
    margin: 0;
    padding: 8px;
}

.container {
    background-color: black;
    width: 200px;
    height: 200px;
    padding: 0 0 0;
    /* padding: 3px;
    padding-left: 20px; */
    outline: 10px saddlebrown solid;
    border: 10px solid rgb(206, 52, 58);
}

.container>p {
    color: white;
    font-size: 20px;
    text-shadow: 10px 10px 1px green;
    /* transform: rotate(45deg); */
    /* transform: scale3d(1.5, 3.5, 1.5) */
    letter-spacing: 10px;
}

.content {
    width: auto;
    background-color: black;
    padding: 1em;
    text-align: center;
}

.content>a {
    color: white;
}

.content>a:hover {
    color: green;
    text-decoration: none;
}

.content>a:active {
    color: red;
    text-decoration: none;
}

.content>a:visited {
    color: blue;
    text-decoration: none;
}

/* .content > ul {
    color:brown
} */

.menu>li {
    list-style-type: none;
    padding: 5px;
    color: aliceblue;
    display: inline;
    padding-bottom: 30px;
}

.menu>li:hover {
    color: black;
    background-color: white;
    padding: 5px;
}

hr {
    margin-top: 20px;
}

h1 {
    color: white;
}

.menu {
    padding-left: 0px;
    height: 50px;
}

.main {
    text-align: center;
    padding: 1em;
}

#user_records {
    margin: 0 auto;
    border: 3px solid black;
}

th,
td {
    border: 1px black solid;
    padding: 0.3rem;
}

th {
    background-color: rgb(58, 57, 57);
    color: white;
}

/* #user_records>tbody>tr>td:hover {
    background-color: rgb(35, 35, 35);
    color: white;
} */
#user_records>tbody>tr:hover {
    background-color: rgb(35, 35, 35);
    color: white;
}

tr:nth-child(even) {
    background-color: grey;
}

.boxcontainer>div {
    width: 100px;
    height: 100px;
    color: white;
    padding: 3px;
    position:absolute;
}

.box1 {
    background-color: blue;
    left: 10px;
    top: 10px;
    transform:rotate(10deg);
}

.box2 {
    background-color: purple;
    left: 20px;
    top: 20px;
    transform:rotate(20deg);
}

.box3 {
    background-color: red;
    left: 30px;
    top: 30px;
    transform:rotate(30deg);
}

.box4 {
    background-color: forestgreen;
    left: 40px;
    top: 40px;
    transform:rotate(40deg);
}
footer {
    background-color: black;
    color: white;
    position:fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
.boxcontainer {
    position:relative;
    z-index: 1;
}