body {
    margin: 0;
    padding: 8px;
}

.container {
    background-color: black;
    width: 200px;
    height: 200px;
    padding: 0 0 0;
    /* padding: 3px;
    padding-left: 20px; */
    outline: 10px saddlebrown solid;
    border: 10px solid rgb(206, 52, 58);
}

.container>p {
    color: white;
    font-size: 20px;
    text-shadow: 10px 10px 1px green;
    /* transform: rotate(45deg); */
    /* transform: scale3d(1.5, 3.5, 1.5) */
    letter-spacing: 10px;
}

.content {
    width: auto;
    background-color: black;
    padding: 1em;
    text-align: center;
}

.content>a {
    color: white;
}

.content>a:hover {
    color: green;
    text-decoration: none;
}

.content>a:active {
    color: red;
    text-decoration: none;
}

.content>a:visited {
    color: blue;
    text-decoration: none;
}

/* .content > ul {
    color:brown
} */

.menu>li {
    list-style-type: none;
    padding: 5px;
    color: aliceblue;
    display: inline;
    padding-bottom: 30px;
}

.menu>li:hover {
    color: black;
    background-color: white;
    padding: 5px;
}
hr {
    margin-top: 20px;
}
h1 {
    color:white
}
.menu {
    padding-left: 0px;
    height: 50px;
}